<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.local.hangzhou.housing.monitor.manual</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/buyecho/.local/share/hangzhou_housing_monitor/launchd/run_monitor.sh</string>
    <string>--force-email</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/buyecho/.local/share/hangzhou_housing_monitor</string>
  <key>ProcessType</key>
  <string>Background</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/buyecho/.local/share/hangzhou_housing_monitor/logs/manual.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/buyecho/.local/share/hangzhou_housing_monitor/logs/manual.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>LANG</key>
    <string>zh_CN.UTF-8</string>
    <key>LC_ALL</key>
    <string>zh_CN.UTF-8</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
